# Folders
.ipynb_checkpoints/
.git/
.vscode/
01_Old/
.virtual_documents/

# Files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ipynb_checkpoints
01_Literature
02_Data
03_Writing
05_Submission
04_Code/annotation.R
